html, body {
    height: 100%;
}

select {
    background: white;
    border-color: gray;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    font-size: 25px;
    height: 50px;
    padding: 5px;
    width: 440px;
}

button {
    background-color: white;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}

button:hover {
    cursor: pointer;
}

select:focus{ 
    outline: none;
}

.header {
    background-color: #2390e3;
    height: 10%;
    text-align: center;
}

.header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
}

.header-container p {
    color: white;
    font-size: 25px;
    transition: all ease-in 0.3s;
}

.header-container p:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.user-options {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    width: 20%;
}

.fas {
    color: white;
    font-size: 30px;
}

.fas:hover {
    cursor: pointer;
}

.fa-sign-out-alt {
    margin-left: 50px;
}

.new-user-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: center;
    margin: auto;
    width: 35%;
}

.user-input h1 {
    font-size: 30px;
    text-align: left;
}

.user-input input {
    border-color: gray;
    border-radius: 50px;
    border-style: solid;
    border-width: 2px;
    height: 50px;
    font-size: 25px;
    outline: none;
    padding: 0 20px;
    width: 400px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.buttons button {
    border-radius: 50px;
    font-size: 25px;
    margin: 30px 10px;
    width: 100%;
}

/** **/
.login-body {
    background-color: #2390e3;
}

.fa-warehouse {
    font-size: 150px;
}

.login-main {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
}

.new-user-form {
    background-color: white;
    border-color: gray;
    border-radius: 50px; 
    border-style: solid;
    border-width: 2px;
    width: 100%;
}

.btn-login {
    border-radius: 50px;
    font-size: 30px;
    margin-top: 75px;
    width: 50%;
}

.footer {
    position: absolute;
    bottom: 30px;
    right: 50px;
}

.footer h1 {
    font-weight: lighter;
    font-size: 25px;
}

.footer strong {
    font-weight: bold;
}

.new-file-form {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50%;
    justify-content: center;
    margin: auto;
    width: 35%;
} 

.new-file label {
    border-style: solid;
    border-width: 3px;
    border-color: gray;
    border-radius: 50px;
    padding: 20px;
}

.file-form textarea{
    border-style: solid;
    border-color: gray;
    border-radius: 50px;
    height: 100%;
    width: 100%;
    border-width: 3px;
}