{% extends "ProjectApp/base.html" %}

{% block title %} Añadir archivos {% endblock  %}

{% block content %}
<form class="new-file-form" method="POST">
    <div class="file-form">
        <h1>Archivo</h1>
        <div class="new-file">
            <label class="file-input" for="file">
                <input type="file" name="file">
            </label>
        </div>
        <h1>Motivo</h1>
        <label for="reason">
            <textarea name="reason"></textarea>
        </label>
    </div>
</form>
{% endblock content %}