{% extends "ProjectApp/base.html" %}

{% block title %} Archivos {% endblock title %}

{% block content %}
<table class="display-table">
    <tr>
        <th>Nombre</th>
        <th>Extensión</th>
        <th>Fecha</th>
        <th>Tamaño</th>
        <th>Usuario</th>
        <th>Acciones</th>
    </tr>
    
    <tr class="table-file">
        <td>Archivo</td>
        <td>txt</td>
        <td>11/11/2020</td>
        <td>7200kb</td>
        <td>Cliente</td>
        <td class="table-buttons-scd">
            <button>Descargar</button>
        </td>
    </tr>
</table>
{% endblock content %}