{% extends "ProjectApp/base.html" %}

{% block title %} Archivos {% endblock title %}

{% block content %}
<table class="display-table">
    <tr>
        <th>Nombre</th>
        <th>Extensión</th>
        <th>Fecha</th>
        <th>Tamaño</th>
        <th>Usuario</th>
        <th>Acciones</th>
    </tr>
    
    {% for Archivos in arch %}
    <tr class="table-file">
        {% if arch %} 
            <td>{{Archivos.nombre}}</td>
            <td>{{Archivos.extencion}}</td>
            <td>{{Archivos.fecha}}</td>
            <td>{{Archivos.tamaño}}</td>
            <td>{{Archivos.usuario}}</td>
            <!-- <td class="table-buttons-scd">
                <button >Descargar</button>
            </td>    -->
            <td><a href="{{Archivos.archivo.url}}">Descargar</a></td>
        {% else %}
            <td>{{message}}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endblock content %}