<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dedaa49cc7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/ProjectApp/normalize.css">
    <link rel="stylesheet" href="../../static/ProjectApp/styles.css">
    <title>Registro</title>
</head>
<body>
    <header class="header">
        <div class="header-container">
            <h1>Inicio</h1>
            <p>Agregar Usuario</p>
            <p>Subir Archivo</p>
            <p>Ver Archivos</p>
            <div class="user-options">
                <i class="fas fa-user"></i>
                <p>{{user.username}}</p>
                <i class="fas fa-caret-square-down"></i>
                <i class="fas fa-sign-out-alt"></i>
            </div>
        </div>
    </header>

    <form class="new-user-form" method="POST">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        
        <div class="user-input">
            <h1>Usuario</h1>
            <label for="user">
                <!-- <input type="text" name="username"> -->
                <!-- {{form.username}}  -->
            </label>
        </div>
        <div class="user-input">
            <h1>Email</h1>
            <label for="email">
                <!-- <input type="email" name="email"> -->
                <!-- {{form.mail}}] -->
            </label>
        </div>
        <div class="user-input">
            <h1>Contraseña</h1>
            <label for="password">
                <!-- <input type="password" name="password"> -->
                <!-- {{form.password1}} -->
            </label>
        </div>
        <div class="user-input">
            <h1>Tipo de usuario</h1>
            <!-- <select name="is_staff">
                <option value="True">Administrador</option>
                <option value="False">Empleado</option>
            </select> -->
            <!-- {{form.type_user}} -->
            <div class="buttons">
                <button class="btn btn-create-user" type="reset">Regresar</button>
                <button class="btn btn-create-user" type="submit">Agregar</button>
            </div>
        </form>

    </main>

    

</body>
</html>