<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dedaa49cc7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/ProjectApp/normalize.css">
    <link rel="stylesheet" href="../../static/ProjectApp/styles.css">
    <title>Inicio de sesion</title>
</head>
<body class="login-body">
    <main class="login-main">
        <i class="fas fa-warehouse"></i>
        <form class="new-user-form" action="" method="POST">
            <div class="user-input">
                <h1>Usuario</h1>
                <label for="user">
                    <input type="text" name="user">
                </label>
            </div>
            <div class="user-input">
                <h1>Password</h1>
                <label for="Password">
                    <input type="password" name="password">
                </label>
            </div>
            <button class="btn-login">Ingresar</button>
        </form>
    </main>

    <footer class="footer">
        <h1><strong>Soporte a tel:</strong> 666-777-8888</h1>
    </footer>
</body>
</html>