{% extends "ProjectApp/base.html" %}

{% block title %} Usuarios {% endblock title %}

{% block content %}
<table class="display-table">
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Creador</th>
        <th>Tipo de usuario</th>
        <th>Contraseña</th>
        <th>Acciones</th>
    </tr>
    {% if users == None %}
        
        <tr class="table-file">
            <td>{{message}}</td>
        </tr>
    {% else %}
        {% for us in users %}
        <tr class="table-file">
            <td>{{us.first_name}}</td>
            <td>{{us.email}}</td>
            <td>Administrador</td>
            <td>{{us.is_staff}}</td>
            <td>
                <p>******** <span><i class="far fa-eye"></i></span></p>
            </td>
            <td class="table-buttons">
                <button>Eliminar</button>
                <button>Modificar</button>
            </td>
        </tr>
        {% endfor %}
    {% endif %}
    
</table>
{% endblock content %}