{% extends "ProjectApp/base.html" %}

{% block title %} Usuarios {% endblock title %}

{% block content %}
<table class="display-table">
    <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Creador</th>
        <th>Tipo de usuario</th>
        <th>Contraseña</th>
        <th>Acciones</th>
    </tr>
    <tr class="table-file">
        <td>Empleado</td>
        <td>Cliente@cliente.co</td>
        <td>Administrador</td>
        <td>Empleado</td>
        <td>
            <p>******** <span><i class="far fa-eye"></i></span></p>
        </td>
        <td class="table-buttons">
            <button>Eliminar</button>
            <button>Modificar</button>
        </td>
    </tr>
    <tr>
        <td>Empleado</td>
        <td>Cliente@cliente.co</td>
        <td>Administrador</td>
        <td>Empleado</td>
        <td>
            <p>******** <span><i class="far fa-eye"></i></span></p>
        </td>
        <td class="table-buttons">
            <button>Eliminar</button>
            <button>Modificar</button>
        </td>
    </tr>
</table>
{% endblock content %}